- if submit_result
  .alert.alert-danger= h submit_result.inspect

.row
  %label.col-sm-2.control-label.row-label Transaction
  .col-sm-10
    %pre= tx.tx_hex

.row
  %label.col-sm-2.control-label.row-label Operations
  .col-sm-10
    %table.table
      %tr
        %th Index
        %th Type
        %th Account
        %th Progress
      - tx.operation_summary.each_with_index do |op, i|
        %tr
          %td= i + 1
          %td= op[:type].name.titleize
          %td= op[:account]
          %td= "#{op[:has]} of #{op[:needs]}"

- if tx.result
  .alert.alert-success
    %pre=tx.result_summary.ai
- else
  .row
    %label.col-sm-2.control-label.row-label Signatures
    .col-sm-10
      %table.table
        %tr
          %th Key
          %th Signature
        - tx.decoded_signatures.each do |ds|
          %tr
            %td= tx.address_from_hint ds.hint
            %td= truncate(Stellar::Convert.to_hex ds.signature)

  %form.form-horizontal(action="/transactions/#{tx.hash_hex}" method="post")
    %input(type="hidden" name="_method" value="patch")
    .form-group
      %label.col-sm-2.control-label(for="seed") Add Signature
      .col-sm-10
        %input.form-control(name="seed" type="text" placeholder="Paste seed here")

    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-primary(type="submit") Add

-#  %form.form-horizontal(action="/transactions/#{tx.hash_hex}/submit" method="post")
    .form-group
      %label.col-sm-2.control-label(for="sig") Finish
      .col-sm-10
        %button.btn.btn-primary(type="submit") Submit Transaction
