.row
  %label.col-sm-2.control-label.row-label Transaction
  .col-sm-10
    %pre= tx.tx_hex

.row
  %label.col-sm-2.control-label.row-label Operations
  .col-sm-10
    %table.table
      %tr
        %th Index
        %th Type
        %th Account
        %th Progress
      - tx.operations.each_with_index do |op, i|
        %tr
          %td= i + 1
          %td= op.body.switch.name.titleize
          %td= tx.source_account(op)
          %td 123

.row
  %label.col-sm-2.control-label.row-label Signatures
  .col-sm-10
    %table.table
      %tr
        %th Account
        %th Signature
        %th Progress
      %tr
        %td(colspan="3") Signatures go here

%form.form-horizontal(action="/transactions/#{tx.hash_hex}" method="post")
  %input(type="hidden" name="_method" value="patch")
  .form-group
    %label.col-sm-2.control-label(for="sig") Add Signature
    .col-sm-10
      %input.form-control(name="sig" type="text" placeholder="Paste hex here")

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary(type="submit") Add


%form.form-horizontal(action="/transactions/#{tx.hash_hex}/finish" method="post")
  .form-group
    %label.col-sm-2.control-label(for="sig") Finish
    .col-sm-10
      %button.btn.btn-primary(type="submit") Submit Transaction
